{% extends 'base.html' %}

{% block content %}
<div class="container">
  <h1 class="mt-5">Device List</h1>
  <form action="{% url 'netmiko:device_list' %}" method="GET">
    <input type="text" class="form-control rounded" name="q" placeholder="Search devices..." aria-label="Search" aria-describedby="search-addon" />
    <button type="submit" class="btn btn-outline-primary">search</button>
  </form>
  <ul class="list-group">
    {% for device in devices %}
      <li class="list-group-item">
        <a class="text-decoration-none" href="{% url 'netmiko:device_detail' device_id=device.id %}">{{ device.name }} - {{ device.ip_address }} - {{ device.platform }} - {{ device.status }}</a>
      </li>
    {% empty %}
      <li class="list-group-item">No devices found.</li>
    {% endfor %}
  </ul>
  <a class="btn btn-primary mt-3" href="{% url 'netmiko:device_create' %}">Add Device</a>
</div>
{% endblock %}
